 
$negro: #111111;
$blanco: #FEFEFE;
$grisOscuro: #222222;
$grisClaro: #C8C8C8;
$grisClaroHover: #ACABAB;
$azul: rgb(15, 114, 206);
$azulHover: #254BE6;

$rosa: #d30058;

$sombraDark: 10px 10px 20px rgba(170,170,170,.16);
$sombraLight: 10px 10px 20px rgba(0,0,0,.16);
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          cursor: url(../icons/cake.svg), auto;

}

body {
  background: #F1F1F1;
  -webkit-transition: .3s ease all;
  transition: .5s ease all;
  font-family: 'Pacifico', cursive;

  &.dark{ background-color: $negro; }
}

nav {
  background: $blanco;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	border-radius: 5px;
	transition: .3s ease all;
  box-shadow: $sombraDark;
  
  body.dark & {
    background-color: $grisOscuro;
    box-shadow: $sombraLight;
    a{
      color: $grisClaro;
      &:hover{
        color: $blanco;
      }
    }
  }

	.logotipo {
    font-size: 25px;
		font-weight: 700;    
    cursor: pointer;

      span{ display: inline-flex; 
        letter-spacing: 5px;
        text-shadow: -1px -1px 0 darken($azul, 9.5%);
        color: lighten($azul, 18%); }

      span:nth-child(even){
        overflow: hidden;
        font-size: 22px;
        transition: ease-in-out 1s;
        color: $rosa;
        letter-spacing: -1em;
      }
      
      &:hover span:nth-child(even){ letter-spacing: .5px; }      
      &:hover span:nth-child(2){ transition-delay: 0s; }      
      &:hover span:nth-child(4){ transition-delay: 0.5s; }      
      &:hover span:nth-child(6){ transition-delay: 1s; }      
      &:hover span:nth-child(8){ transition-delay: 1.5s; } 
  }
  

	.enlaces {
    display: flex;
    letter-spacing: 1px;
    align-items: center;
    text-transform: uppercase;

		a {
        color: #222222;
        font-weight: 500;
        margin-right: 30px;
      i{
        font-size: 20px;
        color: $rosa;
      }
			&:hover {
				color: #707070;
			}
		}
	}
}

.switch{
  background-color: #343D58;
  border-radius: 100px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  float: right;
  outline: none;

  &::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute; 
    background-color: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0, 0.5);
  }

  &.active{
    background-color: orange;
    color: #000;
    transition: .5s ease;
    &::after{
      right: 0;
      left: unset;
    }
  }

  span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
  }
}

.title{   
    font-size: 45px;
    letter-spacing: 5px;
    text-align: center;
    
    .feliz{
      color: lighten($azul, 18%); 
      text-shadow: -1px -1px 0 darken($azul, 9.5%);
    }

    .dieciocho{
      color: lighten(#DBB005, 18%); 
      text-shadow: -1px -1px 0 darken(#DBB005, 9.5%);

        i{
          font-size: 120px;
          letter-spacing: 2px;
        }
    }
    
    h2{
      color: lighten($rosa, 18%); 
      text-shadow: -1px -1px 0 darken($rosa, 9.5%);
    }

  }


.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	padding: 50px 0;
}
